@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body,
html{
    box-sizing: border-box;
    font-family: var(--font-family);
    background-color: var(--color-dark);
    color: var(--color-white);
    min-width: 360px;
    overflow-x: hidden;
}

:root{
    --color-dark: #000;
    --color-white: #FFFFFF;
    --color-purple: #5221e6;    
    --color-light-grey: #8491a0;
    --color-dark-grey: #5b6876;
    --color-green-accent: #3cc74e;
	--color-blue-accent: #609bff;
	--color-pink-accent: #e95d90;
	--color-peach-accent: #fff3e4;
	--color-violet-accent: #fbe4ff;
    --color-dark-grey-alt: #181823;


    --border: 1px solid var(--color-dark-grey-alt);
    --border-button: 1px solid var(--color-purple);
    --border-card: 1px solid var(--color-dark-grey);

    --input-background: var(--color-dark-grey-alt);

    --transition: .3s ease-in-out;

    --font-family: "Sen", sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul,
ol{
    list-style-type: none;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.link{
    position: relative;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-dark-grey-alt);
    text-decoration: none;
    padding-bottom: 4px;
    transition: var(--transition);
}

.link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-light-grey);
}

.link:hover{
    color: var(--color-light-grey);
}


/* Header */

.top{
    position: relative;
}

.header{
    background-color: var(--color-dark);
    margin-bottom: 78px;
}

.header__logo{
    padding-left: 24px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list{
    display: flex;
    flex-wrap: wrap;
}

.list__item{
    display: inline-flex;
    height: 88px;
    align-items: center;
    padding-inline: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    transition: var(--transition);
}

.list__item:hover{
    background-color: var(--color-purple);
}

/* Hero */

.hero{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.hero__inner{
    display: flex;
    align-items: center;
}

.hero__title{
    font-size: clamp(32px, 5.41vw, 78px);
    font-weight: 700;
    margin-bottom: 32px;
}

.hero__title span{
    color: rgba(255, 255, 255, 0.5);
}

.hero__body{
    position: relative;
    right: 100px;
    z-index: 3;
    max-width: 748px;
    width: 100%;
}

.hero__img{
    position: relative;
    z-index: 2;
}

.hero__desc{
    font-size: 18px;
    line-height: 150%;
}

.top::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: -78px;
    bottom: 0;
    left: 38%;
    right: 0;
    background-color: var(--color-dark-grey-alt);
}

/* Experience */

.experience__inner{
    padding-block: 120px;
}

.exexperience__tilte{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light-grey);
    line-height: 150%;
    margin-bottom: 8px;
}

.experience__subtitle{
    font-size: clamp(32px, 3.82vw, 55px);
    font-weight: 700;
    margin-bottom: 40px;
}

.company__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.number__company{
    font-size: 117px;
    color: var(--color-light-grey);
    font-weight: 400;
    padding-block: 20px;
}

.company__name{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
}

.company__desc{
    font-size: 16px;
    color: var(--color-light-grey);
    line-height: 150%;
}

.company__google{
    color: var(--color-green-accent);
}

.company__facebook{
    color: var(--color-blue-accent);
}

.company__dribbble{
    color: var(--color-pink-accent);
}

/* Philosophy */

.philosophy{
    background-color: var(--color-peach-accent);
    color: var(--color-dark-grey-alt);
}

.philosophy__inner{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.philosophy__content{
    padding: 120px 70px;
    align-items: center;
}

.philosophy__title{
    font-size: clamp(32px, 3.82vw, 55px);
    font-weight: 700;
    margin-bottom: 24px;
}

.philosophy__desc{
    font-size: 18px;
    line-height: 150%;
    color: var(--color-dark-grey);
    margin-bottom: 134px;
}

.philosophy__spere{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Skillset */

.skillset p{
    color: var(--color-light-grey);
}

.skillset__inner{
    padding-block: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 72px;
}

.skillset__items{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 72px;
}

.skillset__title{
    font-size: clamp(32px, 3.81vw, 55px);
    margin-bottom: 24px;
}

.skillset__desc{
    font-size: 18px;
    line-height: 150%;
}

.design{
    margin-bottom: 24px;
}

.skillset__item-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 12px;
}

.skillset__desc{
    font-size: 16px;
    line-height: 150%;
}

@media screen and (max-width: 1400px){
    body{
        padding-inline: 20px;
    }
    .top::after{
        background-color: transparent;
        height: 0;
    }

    .hero__img{
        width: clamp(360px, 52.08vw, 700px);
        height: auto;
        object-fit: cover;
    }
}

@media screen and (max-width: 960px){
    .hero__inner{
        row-gap: 10px;
        flex-direction: column;
    }

    .header{
        margin-bottom: 30px;
    }

    .hero__body{
        right: 0;
    }

    .company__list{
        grid-template-columns: repeat(2, 1fr);
    }

    .philosophy__inner{
        grid-template-columns: 1fr;
    }

    .philosophy__content{
        padding: 40px 20px;
    }

    .philosophy__desc{
        margin-bottom: 90px;
    }

    .skillset__inner{
        column-gap: 40px;
    }

    .skillset__items{
        gap: 30px 40px;
    }
}
@media screen and (max-width: 765px) {
    .skillset__inner{
        padding-block: 60px;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .skillset__items{
        grid-column: 1 / 2;
    }
}

@media screen and (max-width: 650px){
    .header{
        padding-top: 20px;
    }

    .header__inner{
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .header__nav-list{
        order: 1;
        flex-basis: 100%;
    }

    .list__item{
        height: 30px;
    }

    .company__list{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .skillset__items{
        grid-template-columns: 1fr;
    }
}